@use "@/app/styles/abstracts/colors" as *;
@use '@/app/styles/abstracts/typography' as *;
@use '@/app/styles/abstracts/radius' as *;
@use '@/app/styles/abstracts/spacing' as *;
@use '@/app/styles/abstracts/breakpoints' as *;

.section {
    //   padding-top: $space-6;
    //border: 1px solid #fff;

  // &__header {
  //   display: flex;
  //   justify-content: space-between;
  //   margin-bottom: $space-5;

  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: $space-4;

  //   @include breakpoint(md) {
  //     margin-bottom: $space-6;
  //     flex-direction: row;
  //     align-items: flex-end;
  //   }
  // }

  // &__title {

  // }

  &__subtitle {
    margin-top: $space-2;
    max-width: 800px;
  }

  &__grid {
    display: grid;
    gap: $space-5;

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    // @include breakpoint(lg) {
    //   grid-template-columns: repeat(3, 1fr);
    // }
  }

  &__footer {
    margin-top: $space-4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: $grey-shades-60;
      font-size: $text-base;
      font-weight: $font-weight-medium;
    }
  }

  &__nav {
    display: flex;
    gap: $space-2;

    button {
      width: 36px;
      height: 36px;
      border: 1px solid $color-border;
      border-radius: 50%;
      background: transparent;
      color: $absolute-white;
      cursor: pointer;

      &:hover {
        background: $absolute-white;
        color: $absolute-black;
      }
    }
  }
}