@use "@/app/styles/abstracts/colors" as *;
@use '@/app/styles/abstracts/typography' as *;
@use '@/app/styles/abstracts/radius' as *;
@use '@/app/styles/abstracts/spacing' as *;

.card {
  background: $grey-shades-10;
  border: 1px solid $grey-shades-15;
  border-radius: 16px;
  padding: $space-5;
  transition: 0.3s;

  &:hover {
    transform: translateY(-4px);
  }

  &__question {
    // font-size: 16px;
    // font-weight: 600;
    margin-bottom: $space-2;
    // color: $absolute-white;
  }

  &__answer {
    // font-size: 14px;
    // color: $grey-shades-50;
    // line-height: 1.6;
  }

  &__cta {
    margin-top: $space-6;
  }
}