@use "@/app/styles/abstracts/colors" as *;
@use '@/app/styles/abstracts/typography' as *;
@use '@/app/styles/abstracts/radius' as *;
@use '@/app/styles/abstracts/spacing' as *;

.button {
  padding: $space-2 $space-4;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;

  &--primary {
    background: linear-gradient(90deg, $color-primary, $color-secondary);
    color: $absolute-white;

    &:hover {
      opacity: 0.9;
    }
  }

  &--secondary {
    border: 1px solid $color-border;
    color: $absolute-white;

    &:hover {
      background: $absolute-white;
      color: $absolute-black;
    }
  }

  &--ghost {
    background: transparent;
    color: $absolute-white;
  }
}