@use "@/app/styles/abstracts/colors" as *;
@use '@/app/styles/abstracts/typography' as *;
@use '@/app/styles/abstracts/radius' as *;
@use '@/app/styles/abstracts/spacing' as *;
@use '@/app/styles/abstracts/breakpoints' as *;

.select {
  position: relative;
  width: 100%;
  @include breakpoint(sm) {
    width: 30%;
  }
  @include breakpoint(lg) {
    width: 18%;
  }

  &__trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $space-3 $space-4;
    background-color: $grey-shades-10;
    border-radius: $radius-md;
    border: 1px solid $grey-shades-20;

    cursor: pointer;
  }

  &__label {
    color: $white-shades-90;
    font-size: 14px;
  }

  &__icon {
    color: $white-shades-90;
  }

  &__dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;

    background-color: $grey-shades-15;
    border: 1px solid $grey-shades-20;
    border-radius: $radius-md;

    overflow: hidden;
    z-index: 10;
    transform-origin: top;
    will-change: transform, opacity;
  }

  &__item {
    width: 100%;
    text-align: left;
    padding: $space-3 $space-4;
    color: $white-shades-90;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $grey-shades-15;
    }
  }
}