$font-primary: var(--font-Urbanist), sans-serif;


// font sizess
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-2xl: 40px;
$font-size-3xl: 60px;

$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 30px;
$text-4xl: 36px;
$text-5xl: 48px;
$text-6xl: 60px;


// Font Weights
$font-weight-black: 800;
$font-weight-extra-bold: 700;
$font-weight-bold: 600;
$font-weight-semi-bold: 500;
$font-weight-medium: 400;
$font-weight-regular: 300;
$font-weight-light: 200;
$font-weight-thin: 100;


//Line Heights
$line-height-relaxed: 1.7;
$line-height-base: 1.5;
$line-height-heading: 1.2;


//letter spacing
$tracking-tight: -0.02em;
$tracking-normal: 0;
$tracking-wide: 0.05em;